.pipeTable {
	margin: 0% 25% 0 35%;
	border: none;
/*	border-collapse: collapse;*/
	border-spacing: 0;
}
.Pipe {
	height:3em;
	width: 3em;
}
td:hover {
	border-color: red;
}
.extraTable {
	position: absolute;
	left: 68em;
	top: 15em;
/*	float: right;
	padding: 12% 25% 0 0; */
}
.Holder {
	height:5em;
	width:5em;
}
body{
	 background-color: #7B7B7B;
}
h1{
	color: #00AAAA;
}
#timer{
	font-size: larger;
	display: inline;
	margin-left: 40%;
	margin-right: 4%;
}
#instructions{
	margin-top: 3%;
	font-size: larger;
}
td{
	border:none;
	border-style: solid;
	border-color: #000000;
	margin: 0;
	padding: 0;
}
#edge{
	border: none;
}
img{
	display: block;
}
