.pipeTable {
	margin: 0% 25% 0 35%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
.Pipe {
	height:3em;
	width: 3em;
}

body{
	 background-color: #7B7B7B;
  
}
table{
}
h1{
	color: #00AAAA;
}
#timer{
	font-size: larger;
	display: inline;
	margin-left: 40%;
	margin-right: 4%;
}

#instructions{
	margin-top: 3%;
	font-size: larger;

}
td{
	border:none;
	border-style: solid;
	border-color: #000000;
	margin: 0;
	padding: 0;
	
}

img{
	display: block;
}

#edge{
	
	border: none;